/target/
/provider/src/main/resources/generated_tests/
/build/
/.gradle/
/.idea/
/provider/.gradle/
/provider/.idea/
/provider/build/
/provider/out/
/consumer/.gradle/
/consumer/.idea/
/consumer/build/
/consumer/out/

front/node_modules
front/.pnp
front/.pnp.js
front/coverage
front/build
front/.DS_Store
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
