/target/
/provider/src/main/resources/generated_tests/
/build/
/.gradle/
/.idea/
/provider/.gradle/
/provider/.idea/
/provider/build/
/provider/out/
/consumer/.gradle/
/consumer/.idea/
/consumer/build/
/consumer/out/

contractor-front-end/node_modules
contractor-front-end/.pnp
contractor-front-end/.pnp.js
contractor-front-end/coverage
contractor-front-end/build
contractor-front-end/.DS_Store
contractor-front-end/.env.local
contractor-front-end/.env.development.local
contractor-front-end/.env.test.local
contractor-front-end/.env.production.local
contractor-front-end/npm-debug.log*
contractor-front-end/yarn-debug.log*
contractor-front-end/yarn-error.log*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
